.tespos{
    background-image: url("articul.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1px;
    border: none;
    width: 100%;
    height: 240px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}